.block2 {
  background-color: #fff;
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .block2__navigation {
      flex: 1; 
      display: flex;
      justify-content: space-between;
      padding: 30px 15px;
      gap: 40px;
      h3 {
        font-size: 26px;
      }
      a {
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #cad6dc;
        text-decoration: none; 
        font-size: 18px;
        font-weight: 400;
        color: #2c2c2c;
        &:hover{
          background-color: #9eb4c8;
        }
      }
    }
    .block2__content {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30px;
      justify-content: space-between;
      gap: 30px;
      .block2__box {
        width: 410px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        text-decoration: none;
        transition: transform .4s;
        &:hover{
          transform: translateY(-10px);
        }
        img{
          width: 100%;
          max-height: 450px;
        }
        p{
          width: 350px;
        }
        h4{
          width: 350px;
        }
      }
    }
  }
}
