@font-face {
  font-family: Montserrat;
  src: url(/memberbase/src/fonts/Montserrat-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url(/memberbase/src/fonts/Montserrat-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(/memberbase/src/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(/memberbase/src/fonts/Raleway-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(/memberbase/src/fonts/Raleway-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(/memberbase/src/fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(/memberbase/src/fonts/Poppins-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url(/memberbase/src/fonts/Poppins-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(/memberbase/src/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
.block2 {
  background-color: #fff;
  .block2__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .block2__navigation {
      flex: 1; 
      display: flex;
      justify-content: space-between;
      padding: 30px 100px;
      gap: 40px;
      h3 {
        font-size: 26px;
      }
      a {
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #cad6dc;
        text-decoration: none; 
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 400;
        color: #2c2c2c;
        &:hover{
          background-color: #9eb4c8;
        }
      }
    }
    .block2__content {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30px;
      justify-content: space-between;
      padding-left: 100px;
      padding-right: 100px;
      gap: 30px;
      .block2__box {
        width: 410px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        text-decoration: none;
        img{
          width: 350px;
          max-height: 450px;
        }
        p{
          width: 350px;
        }
        h4{
          width: 350px;
        }
      }
      .block2__box:nth-child(1){
        transition: transform 300ms;
      }
      .block2__box:nth-child(2){
        transition: transform 300ms;
      }
      .block2__box:nth-child(3){
        transition: transform 300ms;
      }
      .block2__box:nth-child(4){
        transition: transform 300ms;
      }
      .block2__box:nth-child(5){
        transition: transform 300ms;
      }
      &:hover .block2__box:nth-child(1){
        transform:translateY(-10px);
      }
      &:hover .block2__box:nth-child(2){
        transform:translateY(-10px);
      }
      &:hover .block2__box:nth-child(3){
        transform:translateY(-10px);
      }
      &:hover .block2__box:nth-child(4){
        transform:translateY(-10px);
      }
      &:hover .block2__box:nth-child(5){
        transform:translateY(-10px);
      }
    }
  }
}
