.header {
    img
    {
        width: 100%;
    }
    background-color: aliceblue;
    .header__container {
        display: flex;
        padding: 20px 40px;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            img {
                max-height: 40px;
            }
        }
        
        .header__navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: #909090;
                }
    
                &:nth-child(3) a {
                    border-radius: 10px;
                    padding: 10px 10px;
                    background-color: black;
                    color: #fff;
                }
            }
    
            li:nth-child(1):hover a {
                color: #2b2b2b;
            }
    
            li:nth-child(2):hover a {
                color: #2b2b2b;
            }
    
            li:nth-child(3):hover a {
                opacity: 0.8;
            }
        }
    }
    
}