.header {
    img
    {
        width: 100%;
    }
    background-color: aliceblue;
    .container {
        display: flex;
        padding: 20px 15px;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            img {
                max-height: 40px;
            }
        }
        
        .header__navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            a{
                text-decoration: none;
                font-size: 24px;
            }
        }
        
    }
    
}