mixin block2()
    block2.block2 
        .block2__container
            .block2__navigation 
                h3 Featured Resources 
                a(href="#")  See All Resources 
            .block2__content 
                a.block2__box(href="#")
                    img(src="@img/box1.png", alt="box1" draggable="false")
                    p By Nikolai Bain
                    h4 Grids and Alignment
                    p Expedita laborum suscipit sequi et nobis voluptas fuga placeat. Omnis est ratione. Repellendus recusandae a. Nulla quia cum aliquam dolores beatae tempore harum pariatur. Velit amet officiis.
                a.block2__box(href="#") 
                    img(src="@img/box2.png", alt="box2" draggable="false")
                    p By Maxwell Milton
                    h4 Remote Work for Design Teams
                    p Repudiandae asperiores excepturi repellat minus id et. Saepe molestiae accusantium fugit et aut. Reicie
                a.block2__box(href="#")
                    img(src="@img/box3.png", alt="box3" draggable="false")
                    p By Franko Realguy
                    h4 Design Systems in Product Teams
                    p Ut libero molestias excepturi veniam et dicta assumenda tenetur voluptatem. Qui dolor officiis eum. Doloribus odit qui quia blanditiis omnis asperiores perspiciatis qui deleniti.
                a.block2__box(href="#") 
                    img(src="@img/box4.png", alt="box4" draggable="false")
                    p By Nikolai Bain
                    h4 All in One Color Handbook
                    p Vel esse et temporibus inventore alias assumenda. Repellat sit accusamus id sed est animi vel. Odit non ut reprehenderit consequatur sit aliquam. Aut aliquid consequatur
                a.block2__box(href="#")
                    img(src="@img/box5.png", alt="box5" draggable="false")
                    p By Tim Tommons
                    h4 Digital Wellbeing and Support
                    p Dignissimos dolores enim ipsum quia occaecati voluptas aut delectus. Reiciendis recusandae minima quod qui. Eum dicta et nihil ad et nam. Vitae et itaque porro. Ipsa distinctio laboriosam veritatis. Minus quia eos ut.




                    