mixin block3()
    section.block3 
        .container
            h3 Get more great resources
            .block3__paragraph 
                p Get the latest design resources from across the web. 
                p Straight to your inbox.
            .block3__register 
                    input#search-input(type='text', placeholder='Enter your email')
                    button#search-button Subscribe 

