mixin block1()
    block1.block1    
        .block1__container
            .block1__content
                h3 Access a library of free design resources
                p The best resources and books from around the web, collected and curated for your reading.
                a(href="#") Get Access Now 
            .block1__img  
                img(src="@img/block1.png", alt="block1_img" draggable="false")
            