mixin header()
    header.header
        .header__container
            .header__logo
                a(href="#")
                    img(src="@img/logo.png", alt="logo" target="_blank" draggable="false")
                
            ul.header__navigation  
                li 
                    a(href="#") All Resources 
                li 
                    a(href="#") Log In 
                li 
                    a(href="#") Free Sign Up  
                